!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      header
      nav
        div#logo PH
        div#menu
          li
            a(href="/") Home
          li
            a(href="/information") Information
          li
            a(href="/beta") Beta
          li
            a(href="/contact") Contact
      div#left
      div#main     
       div#wrapper!= body
